body {
    margin: 0;
    overflow: hidden;
}

#fileInput {
    display: block;
}

#loadButton {
    margin-top: 10px; /* Adjust as needed */
    background-color: #0074D9;
    color: #FFFFFF;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

#viewer {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}
